@use "/src/sass/base/variables.scss" as *;

.discount {
  padding: 70px 0 90px 0;
  background-color: $beige;
  &__title {
    color: $black;
    font-size: 36px;
    font-weight: 900;
    line-height: 130%;
    text-align: left;
  }
  &__text {
    margin-top: 20px;
    color: $black;
    font-size: 17px;
    font-weight: 400;
    line-height: 140%;
    text-align: left;
  }
  form {
    margin-top: 40px;
  }
  &__input {
    border: none;
    background-color: $beige;
    width: 100%;
    color: $black;
    font-size: 17px;
    font-weight: 400;
    line-height: 140%;
    text-align: left;
    &::placeholder {
      opacity: 0.5;
    }
  }
  &__divider {
    margin-top: 16px;
    width: 100%;
    border: 2px solid $black;
  }
  &__btn {
    margin-top: 40px;
    border-radius: 100px;
    width: 214px;
    height: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 13px 80px 18px 80px;
    color: $white;
    font-size: 17px;
    font-weight: 700;
    background: $black;
  }
}
